::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

li,
.item {
    list-style-type: none;
}

a,
.link {
    font-style: normal;
    text-decoration: none;
    color: inherit;
    display: block;
}

img,
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}