// Fonts
$main-font: Montserrat, sans-serif;
$secondary-font: Seymour One, sans-serif;
$third-font: Roboto, sans-serif;

// Text colors
$primary-text-color: #131313;
$accent-color: #F8D24E;
$primary-light-color: #FCFCFC;
$icons-color: #84A178;
$slick-color: #D9D9D9;

// Background colors
$section-background-color: #84A178;
$white-background-color: #FFFFFF;

// products background colors
$product-1-bg-color: #AEC6A5;
$product-2-bg-color: #EFD478;
$product-3-bg-color: #D6936D;


// Button colors
$btn-main-color: #F8D24E;
$btn-hover-color: #0A8817;
$btn-focus-color: #0A8817;
$btn-disabled-color: #ABABAB;


/* Others */
$btn-border-radius-mob: 8px;
$btn-border-radius-desktop: 10px;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);