<section class="interruptions">
  <div class="container interruptions__box">
    <h2 class="visually-hidden">List of benefits</h2>
    <ul class="interruptions__list">
      <li
        class="interruptions__milk"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <h3 class="interruptions__quality">721</h3>
        <p class="interruptions__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="interruptions__weight"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <h3 class="interruptions__quality">16kg</h3>
        <p class="interruptions__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="interruptions__ice"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <h3 class="interruptions__quality">84</h3>
        <p class="interruptions__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
