
<!-- Contatcs sections -->

<section class="contacts" id="contacts">
    <div class="container contatcs-group-container">
        <h2  class="visually-hidden">Our contacts</h2>

        <div class="contacts__information">
            <p class="contacts__title">
                CAFE
            </p>
        </div>

        <address class="contacts__address">
            <p class="contacts-country__subtitle">
                Chicago
            </p>
            
                <ul class="contacts__list list">
                <li class="contacts__item">
                    <a
                class="contacts-link link"
                href="https://goo.gl/maps/gDSqsknp4ia8AzvMA"
                target="_blank"
                rel="noopener noreferrer"
                >
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                </a>
            </li>
            </ul>
        </address>

            <div class="contacts__working-time">
                <p class="contacts__working-day">Monday - Friday</p>
                <p class="contacts__schedule"><time datetime="06:00">06:00AM</time> -
                <time datetime="10:00">10:00PM</time>
                </p>

                <p class="contacts__working-day">Saturday - Sunday</p>
                <p class="contacts__schedule"><time datetime="08:00">08:00AM</time> -
                <time datetime="16:00">16:00PM</time>
                </p>
            </div>


            <ul class="contacts__list list">
                <li class="contacts__item">
                        <a class="contacts-link link" href="tel:+61(0)383766284">
                            +61(0) 383 766 284
                        </a>
                    </li>

                    <li class="contacts__item">
                        <a class="contacts-link link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </li>
                    </ul>

                    <div class="contacts__information">
                        <p class="contacts__title">
                            FOOD TRUCK
                        </p>
                    </div>
            
                    <address class="contacts__address">
                        <p class="contacts-country__subtitle">
                            Los Angeles
                        </p>
                        
                            <ul class="contacts__list list">
                            <li class="contacts__item">
                                <a
                            class="contacts-link link"
                            href="https://goo.gl/maps/TY9wrYBUMfubfAoN8"
                            target="_blank"
                            rel="noopener noreferrer"
                            >
                            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                            </a>
                        </li>
                        </ul>
                    </address>
            
                        <div class="contacts__working-time">
                            <p class="contacts__working-day">Monday - Friday</p>
                            <p class="contacts__schedule"><time datetime="06:00">06:00AM</time> -
                            <time datetime="10:00">10:00PM</time>
                            </p>
            
                            <p class="contacts__working-day">Saturday - Sunday</p>
                            <p class="contacts__schedule"><time datetime="08:00">08:00AM</time> -
                            <time datetime="16:00">16:00PM</time>
                            </p>
                        </div>
            
            
                        <ul class="contacts__list list">
                            <li class="contacts__item">
                                    <a class="contacts-link link" href="tel:+61(0)383766284">
                                        +61(0) 383 766 284
                                    </a>
                                </li>
            
                                <li class="contacts__item">
                                    <a class="contacts-link link" href="mailto:noreply@envato.com">
                                        noreply@envato.com
                                    </a>
                                </li>
                                </ul>


                                <div class="contacts__information">
                                    <p class="contacts__title">
                                        CAFE
                                    </p>
                                </div>
                        
                                <address class="contacts__address">
                                    <p class="contacts-country__subtitle">
                                        New York
                                    </p>
                                    
                                        <ul class="contacts__list list">
                                        <li class="contacts__item">
                                            <a
                                        class="contacts-link link"
                                        href="https://goo.gl/maps/ACLnYjB445vSfLt89"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        >
                                        726 Sterling Pl, Brooklyn, NY 11222, USA
                                        </a>
                                    </li>
                                    </ul>
                                </address>
                        
                                    <div class="contacts__working-time">
                                        <p class="contacts__working-day">Monday - Friday</p>
                                        <p class="contacts__schedule"><time datetime="06:00">06:00AM</time> -
                                        <time datetime="10:00">10:00PM</time>
                                        </p>
                        
                                        <p class="contacts__working-day">Saturday - Sunday</p>
                                        <p class="contacts__schedule"><time datetime="08:00">08:00AM</time> -
                                        <time datetime="16:00">16:00PM</time>
                                        </p>
                                    </div>
                        
                        
                                    <ul class="contacts__list list">
                                        <li class="contacts__item">
                                                <a class="contacts-link link" href="tel:+61(0)383766284">
                                                    +61(0) 383 766 284
                                                </a>
                                            </li>
                        
                                            <li class="contacts__item">
                                                <a class="contacts-link link" href="mailto:noreply@envato.com">
                                                    noreply@envato.com
                                                </a>
                                            </li>
                                            </ul>


                                            <div class="contacts__btn-wrapper">
                                                <button  class="btn contacts__btn--location" type="button" data-modal-open>
                                                    Our Locations
                                                    <svg class="icon btn__icon" width="12" height="12">
                                                        <use href="./images/icons/icons.svg#triangle"></use>
                                                        </svg>
                                                
                                                </button>

                                                    <button class="btn contacts__btn--franchise" type="submit" data-modal-open>
                                                        Franchise
                                                        <svg class="icon btn__icon" width="12" height="12">
                                                        <use href="./images/icons/icons.svg#triangle"></use>
                                                        </svg>
                                                    </button>
                                            </div>


    </div>
</section>

            
        

        



