<!-- Contacts sections -->

<section class="contacts" id="contacts">

    <div class="container contacts-group-container">
        <h2 class="visually-hidden">Our contacts</h2>

        <div class="contacts-reference">

            <ul class="contacts-group">

                <li class="contacts__information rotate-y">
                    <p class="contacts__title">
                        CAFE
                    </p>

                    <address class="contacts__address">
                        <p class="contacts-country__subtitle">
                            Chicago
                        </p>
                        <a class="contacts-link link" href="https://goo.gl/maps/gDSqsknp4ia8AzvMA" target="_blank"
                            rel="noopener noreferrer">
                            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                        </a>
                    </address>

                    <ul class="contacts__schedule">
                        <li class="contacts-hour">
                            <p class="contacts__working-day">Monday - Friday</p>
                            <p class="contacts__time"><time datetime="06:00">06:00AM</time> -
                                <time datetime="10:00">10:00PM</time>
                            </p>
                        </li>

                        <li class="contacts-hour">
                            <p class="contacts__working-day">Saturday - Sunday</p>
                            <p class="contacts__time"><time datetime="08:00">08:00AM</time> -
                                <time datetime="16:00">16:00PM</time>
                            </p>
                        </li>
                    </ul>


                    <ul class="contacts__list list">
                        <li class="contacts__item">
                            <a class="contacts-connection link" href="tel:+61(0)383766284">
                                +61(0) 383 766 284
                            </a>
                        </li>

                        <li class="contacts__item">
                            <a class="contacts-connection link" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="contacts__information rotate-y">
                    <p class="contacts__title--truck">
                        FOOD TRUCK
                    </p>

                    <address class="contacts__address">
                        <p class="contacts-country__subtitle">
                            Los Angeles
                        </p>
                        <a class="contacts-link link" href="https://goo.gl/maps/VyAU8ty4aZfwmgi59" target="_blank"
                            rel="noopener noreferrer">
                            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                        </a>
                    </address>

                    <ul class="contacts__schedule">
                        <li class="contacts-hour">
                            <p class="contacts__working-day">Monday - Friday</p>
                            <p class="contacts__time"><time datetime="06:00">06:00AM</time> -
                                <time datetime="10:00">10:00PM</time>
                            </p>
                        </li>

                        <li class="contacts-hour">
                            <p class="contacts__working-day">Saturday - Sunday</p>
                            <p class="contacts__time"><time datetime="08:00">08:00AM</time> -
                                <time datetime="16:00">16:00PM</time>
                            </p>
                        </li>
                    </ul>


                    <ul class="contacts__list list">
                        <li class="contacts__item">
                            <a class="contacts-connection link" href="tel:+61(0)383766284">
                                +61(0) 383 766 284
                            </a>
                        </li>

                        <li class="contacts__item">
                            <a class="contacts-connection link" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="contacts__information rotate-y">
                    <p class="contacts__title">
                        CAFE
                    </p>

                    <address class="contacts__address">
                        <p class="contacts-country__subtitle">
                            New York
                        </p>
                        <a class="contacts-link link" href="https://goo.gl/maps/XApu2RUnFfU8Crby8" target="_blank"
                            rel="noopener noreferrer">
                            726 Sterling Pl, Brooklyn, NY 11222, USA
                        </a>
                    </address>

                    <ul class="contacts__schedule">
                        <li class="contacts-hour">
                            <p class="contacts__working-day">Monday - Friday</p>
                            <p class="contacts__time"><time datetime="06:00">06:00AM</time> -
                                <time datetime="10:00">10:00PM</time>
                            </p>
                        </li>

                        <li class="contacts-hour">
                            <p class="contacts__working-day">Saturday - Sunday</p>
                            <p class="contacts__time"><time datetime="08:00">08:00AM</time> -
                                <time datetime="16:00">16:00PM</time>
                            </p>
                        </li>
                    </ul>


                    <ul class="contacts__list list">
                        <li class="contacts__item">
                            <a class="contacts-connection link" href="tel:+61(0)383766284">
                                +61(0) 383 766 284
                            </a>
                        </li>

                        <li class="contacts__item">
                            <a class="contacts-connection link" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>


            <div class="contacts-btn__wrapper">
                <button class="btn-background contacts-btn" type="button" id="locations-modal-open">
                    Our Locations
                    <svg class="btn-icon" width="12" height="12">
                        <use href="./images/icons/icons.svg#triangle"></use>
                    </svg>
                </button>

                <button class="btn-border contacts-btn" type="button" id="franchise-modal-open">
                    Franchise
                    <svg class="btn-icon" width="12" height="12">
                        <use href="./images/icons/icons.svg#triangle"></use>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>
