<div class="footer">
    <div class="container footer__group">
        <div class="footer__text">
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__subtitle">with passion</p>
        </div>

        <div class="footer__socials">
            <ul class="footer__socials-group">
                <li class="footer__socials-item" data-aos="fade-right" data-aos-duration="2000">
                    <a href="https://github.com/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <div class="footer__socials-sprite">
                            <svg class="footer__socials-icon">
                                <use href="./images/icons/icons.svg#github"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="footer__socials-item" data-aos="fade-right" data-aos-duration="1500">
                    <a href="https://web.telegram.org/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <div class="footer__socials-sprite">
                            <svg class="footer__socials-icon">
                                <use href="./images/icons/icons.svg#telegram"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="footer__socials-item" data-aos="fade-right" data-aos-duration="1000">
                    <a href="https://www.facebook.com/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <div class="footer__socials-sprite">
                            <svg class="footer__socials-icon">
                                <use href="./images/icons/icons.svg#facebook"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="footer__contact">
                <p class="footer__contact-text">Feel free to contact
                    <a class="footer__contact-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
    </div>

    <div class="footer__copy">
        <p class="footer__copy-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</div>