<footer class="footer">
    <div class="container footer__group">
        <div class="footer__text">
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__subtitle">with passion</p>
        </div>

        <div class="footer__socials">
            <ul class="footer__socials-group">
                <li class="footer__socials-item">
                    <a href="https://github.com/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <svg class="footer__socials-icon" width="32" height="32">
                            <use href="./images/icons/icons.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="https://web.telegram.org/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <svg class="footer__socials-icon" width="32" height="32">
                            <use href="./images/icons/icons.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="https://www.facebook.com/" class="footer__socials-link" target="_blank"
                        rel="noopener norefferer nofollow">
                        <svg class="footer__socials-icon" width="32" height="32">
                            <use href="./images/icons/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
            <p class="footer__contact-text">Feel free to contact
                <a href="tel:+610383766284">+61 (0) 383 766 284</a>
            </p>
        </div>

        <div class="footer__copy">
            <p class="copy">&copy; 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>