<div class="header" id="top">
  <div class="container header__container">
    <a class="logo roll-in-blurred-left" href="./index.html">
      <img
        class="logo__img"
        srcset="
          ./images/logo/tel-logo@1x.png      40w,
          ./images/logo/tel-logo@2x.png      80w,
          ./images/logo/tablet-logo@1x.png   48w,
          ./images/logo/tablet-logo@2x.png   96w,
          ./images/logo/desctop-logo@1x.png  60w,
          ./images/logo/desctop-logo@2x.png 120w
        "
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 100px) 40px"
        src="./images/logo/tel-logo@1x.png"
        alt="Логотип"
    /></a>

    <ul class="nav">
      <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
      <li class="nav__item">
        <a href="#about" class="nav__link">How it’s made?</a>
      </li>
      <li class="nav__item">
        <a href="#products" class="nav__link">Our products</a>
      </li>
      <li class="nav__item">
        <a href="#contacts" class="nav__link">Contact</a>
      </li>
    </ul>

    <button class="mobile-menu__btn js-open-menu" aria-expanded="false">
      <svg
        class="burger-icon"
        width="32"
        height="32"
        aria-label="Перемикач мобільного меню"
      >
        <use href="./images/icons/icons.svg#burger-menu"></use>
      </svg>
    </button>

    <button class="buy-btn btn-background" id="buy-now-modal-open">
      Buy now
      <svg class="buy-btn__icon" width="12" height="12">
        <use href="./images/icons/icons.svg#triangle"></use>
      </svg>
    </button>
  </div>
</div>
