<header class="header">
  <div class="container header__container">
    <a class="logo" href="./index.html">
      <img class="logo__img" src="./images/logo/ice.png" alt=""
    /></a>

    <ul class="nav">
      <li class="nav__item"><a href="" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="" class="nav__link">How it’s made?</a></li>
      <li class="nav__item"><a href="" class="nav__link">Our products</a></li>
      <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
    </ul>

    <button
      class="mobile-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="burger-icon"
        width="32"
        height="32"
        aria-label="Перемикач мобільного меню"
      >
        <use href="./images/icons/icons.svg#burger-menu"></use>
      </svg>

      <button class="buy-btn btn-background">
        Buy now
        <svg class="buy-btn__icon" width="12" height="12">
          <use href="./images/icons/icons.svg#triangle"></use>
        </svg>
      </button>
    </button>
  </div>
</header>
