<section class="hero">
  <div class="container hero__container">
    <div class="hero__up">
      <h1 class="hero-title" data-aos="zoom-in-left" data-aos-duration="1000">
        ice cream made with <span class="hero-title--accent">passion</span>
      </h1>
      <div class="hero__amount scale-up-center">
        <ul>
          <li class="hero_amount-item">
            <p class="hero__amount-number">16</p>
            <p class="hero__amount-text">cafes</p>
          </li>
          <li>
            <p class="hero__amount-number">23</p>
            <p class="hero__amount-text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__products">
      <a class="hero__btn btn-border" href="#products"> Products </a>
      <a class="hero__poducts-link link" href="#about">How it’s made?</a>
    </div>
    <div class="hero__products-pict">
      <img
        class="hero__products-img rotate-center"
        srcset="
          ./images/hero/more-lg@1x.webp 225w,
          ./images/hero/more-lg@2x.webp 450w,
          ./images/hero/more-md@1x.webp 152w,
          ./images/hero/more-md@2x.webp 304w
        "
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="./images/hero/more-md@1x.webp"
        alt="A lot of ice cream"
      />
      <div class="hero__products-text-wrapper">
        <p class="hero__products-text">
          Ice cream is an ancient delicacy. There are suggestions that the
          history of ice cream has more than four thousand years.
        </p>
        <a
          class="hero__link-arrow"
          href="https://en.wikipedia.org/wiki/Ice_cream"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="hero__arrow" width="40" height="20px">
            <use href="./images/icons/icons.svg#arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__picture">
      <img
        class="hero__picture-ice"
        srcset="
          ./images/hero/cream-lg@1x.webp  641w,
          ./images/hero/cream-lg@2x.webp 1284w,
          ./images/hero/cream-md@1x.webp  379w,
          ./images/hero/cream-md@2x.webp  752w,
          ./images/hero/cream-sm@1x.webp  251w,
          ./images/hero/cream-sm@2x.webp  487w
        "
        sizes="(min-width: 1200px) 641px, (min-width: 768px) 379px, (max-width: 767px) 251px, 100vw"
        src="./images/hero/cream-sm@1x.webp"
        alt="ice cream"
      />
    </div>

    <div class="hero__points" data-aos="zoom-in" data-aos-duration="2000"></div>
  </div>
</section>
