<section class="hero">
  <div class="container hero__container">
    <h1 class="hero-title">ice cream made with passion</h1>
    <div class="hero__products">
      <button class="hero__btn btn-border" type="button">Products</button>
      <a class="hero__poducts-link" href="">How it’s made?</a>
    </div>
    <div class="hero__products-pict">
      <img
        class="hero__products-img"
        src="./images/hero/lot_ice_1-@1x.jpg"
        alt="A lot of ice cream"
        width="225"
        height="225"
      />
      <div class="hero__products-text">
        <p class="hero__products-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="" href="">----></a>
      </div>
    </div>
  </div>
</section>
