<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
    <button class="modal__button" type="button" data-modal-close>
        <svg width="20" height="20">
        <use href="./images/icons/icons.svg#close"></use>
        </svg>
    </button>

    <form class="location-form" name="location-form">
        <strong class="location-form__title">Our Locations</strong>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5429680.320788542!2d31.134910029004576!3d48.35646725457724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1665755152453!5m2!1suk!2sua" 
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
referrerpolicy="no-referrer-when-downgrade"></iframe>

<button class="location-form__btn btn" type="button">Open map</button>