<!-- <div class="modal" data-modal>
    <button type="open-product js-open-modal">
        <svg width="20" height="20">
            <use href="./images/icons/icons.svg#ice-crema"></use>
        </svg>
    </button>

    <h2 class="modal__titel">Chololate icecream</h2>

    <button type="button" class="modal-close" data-modal="close">
        <svg class="modal-close-icon" width="20" height="20">
            <use href="./images/icons/icons.svg#close"></use>
        </svg>
    </button>

    <picture> -->
<!-- FOR MOBILE -->
<!-- <source media="(max-width=479)"
            srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-2x.jpg 2x" /> -->
<!-- FOR TABLER -->
<!-- <source media="(min-width=480)"
            srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-2x.jpg 2x" /> -->
<!-- FOR DESKTOP -->
<!-- <source media="(min-width=1200)"
            srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-3x.jpg 3x" />
        <img src="./images/modal-product/ice-cream/isream-1x.jpg" alt="Рожок мороженного">
    </picture>

    <ul class="energe-price">
        <li class="m-e">
            <p class="in-mass"></p>
            <h3 class="m-e-name">kcal</h3>
        </li>
        <li class="m-e">
            <p class="in-mass"></p>
            <h3 class="m-e-name">kcal</h3>
        </li>
        <li class="m-e">
            <p class="in-mass"></p>
            <h3 class="m-e-name">kcal</h3>
        </li>
        <li class="m-e">
            <p class="in-mass"></p>
            <h3 class="m-e-name">kcal</h3>
        </li>
    </ul>
</div> -->