<div class="backdrop is-hidden" id="product-modal-2">
    <div class="modal modal-product">
        <h2 class="modal__title">ICE-COFFEE</h2>

        <button type="button" class="modal-close" id="product-modal-2-close">
            <svg class="modal-close-icon" width="20" height="20">
                <use href="./images/icons/icons.svg#close"></use>
            </svg>
        </button>

        <div>
            <picture>
                <!-- FOR DESKTOP -->
                <source media="(min-width: 1200px)"
                    srcset="./images/modal-product/ice-coffe/ice-coffe-1x.jpg 1x ,./images/modal-product/ice-coffe/ice-coffe-3x.jpg 3x" />
                <!-- FOR TABLER -->
                <source media="(min-width: 768px)"
                    srcset="./images/modal-product/ice-coffe/ice-coffe-1x.jpg 1x ,./images/modal-product/ice-coffe/ice-coffe-2x.jpg 2x" />

                <!-- FOR MOBILE -->
                <source media="(max-width: 767px)"
                    srcset="./images/modal-product/ice-coffe/ice-coffe-1x.jpg 1x ,./images/modal-product/ice-coffe/ice-coffe-2x.jpg 2x" />
                <img class="picture" src="./images/modal-product/ice-coffe/ice-coffe-1x.jpg" alt="Milkshake">
            </picture>

        </div>

        <ul class="energe-price">
            <li class="m-e">
                <p class="in-mass">1684</p>
                <h3 class="m-e-name">kcal</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">3.8g</p>
                <h3 class="m-e-name">Prote</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">5.9g</p>
                <h3 class="m-e-name">Fats</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">2631g</p>
                <h3 class="m-e-name">Carbs</h3>
            </li>
        </ul>

        <!-- Ингридиенты -->
        <h2 class="ingredients-names">Ingredients</h2>

        <ul class="ingridients">

            <li class="ingridients__title">
                <p class="ingridients__list">Milk</p>
                <p class="ingridients__list">150ml</p>
            </li>
            <li class="ingridients__title">
                <p class="ingridients__list">Ice-cream</p>
                <p class="ingridients__list">50mg</p>
            </li>
            <li class="ingridients__title">
                <p class="ingridients__list">Cream</p>
                <p class="ingridients__list">150ml</p>
            </li>
            <li class="ingridients__title">
                <p class="ingridients__list">Tenderness</p>
                <p class="ingridients__list">Only with us</p>
            </li>
            <li class="ingridients__title">
                <p class="ingridients__list">Barista smile</p>
                <p class="ingridients__list">Endless</p>
            </li>
            <li class="ingridients__title">
                <p class="ingridients__list">Warmth of the soul</p>
                <p class="ingridients__list">Always</p>
            </li>
        </ul>


        <!-- Данные клиента -->
        <div class="clients-data">
            <form>
                <input type="text" class="cliets-data-field" name="Name" placeholder="Name" required minlength="2" />
                <input type="text" class="cliets-data-field" name="Contact" placeholder="Phone" required
                    minlength="5" />
                <textarea class="text-area-field" name="Coments" placeholder="Comment"></textarea>
                <!-- Кнопка отправить -->
                <div class="submit-button btn-background">
                    <button class="submit-send" type="submit">Submit</button>
                </div>

            </form>
        </div>






        <!-- </div> -->
    </div>