<div class="backdrop is-hidden" id="product-modal-1">
    <div class="modal modal-product">
        <h2 class="modal__title">Chololate icecream</h2>

        <button type="button" class="modal-close" id="product-modal-1-close">
            <svg class="modal-close-icon" width="20" height="20">
                <use href="./images/icons/icons.svg#close"></use>
            </svg>
        </button>
        <div>
            <picture>
                <!-- FOR DESKTOP -->
                <source media="(min-width:1200)"
                    srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-3x.jpg 3x" />
                <!-- FOR TABLER -->
                <source media="(min-width:768px)"
                    srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-2x.jpg 2x" />

                <!-- FOR MOBILE -->
                <source media="(max-width:767px)"
                    srcset="./images/modal-product/ice-cream/isream-1x.jpg 1x ,./images/modal-product/ice-cream/isream-2x.jpg 2x" />
                <img class="picture" src="./images/modal-product/ice-cream/isream-1x.jpg" alt="Рожок мороженного">
            </picture>

        </div>

        <ul class="energe-price">
            <li class="m-e">
                <p class="in-mass">320</p>
                <h3 class="m-e-name">kcal</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">4g</p>
                <h3 class="m-e-name">Prote</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">8.2g</p>
                <h3 class="m-e-name">Fats</h3>
            </li>
            <li class="m-e">
                <p class="in-mass">40.4g</p>
                <h3 class="m-e-name">Carbs</h3>
            </li>
        </ul>

        <!-- Ингридиенты -->
        <ul class="ingridients">
            <li class="ingridients__title">
                <p>Milk</p>
                <p>100ml</p>
            </li>
            <li class="ingridients__title">
                <p>Belgian chocolate</p>
                <p>20mg</p>
            </li>
            <li class="ingridients__title">
                <p>Cream</p>
                <p>150ml</p>
            </li>
            <li class="ingridients__title">
                <p>Cocoa powder</p>
                <p>30mg</p>
            </li>
            <li class="ingridients__title">
                <p>Sugar</p>
                <p>40mg</p>
            </li>
            <li class="ingridients__title">
                <p>Vanilla sugar</p>
                <p>10mg</p>
            </li>
        </ul>


        <!-- Данные клиента -->
        <div class="clients-data">
            <form>
                <input type="text" class="cliets-data-field" name="Name" placeholder="Name" required minlength="2" />
                <input type="text" class="cliets-data-field" name="Contact" placeholder="Phone" required
                    minlength="5" />
                <textarea class="text-area-field" name="Coments" placeholder="Comment" id=""></textarea>
                <!-- Кнопка отправить -->
                <div class="submit-button btn-background">
                    <button class="submit-send" type="submit">Submit</button>
                </div>

            </form>
        </div>






        <!-- </div> -->
    </div>