<div class="backdrop is-hidden" id="about-modal">
  <div class="about-modal modal" data-modal="about-modal">
    <button class="about-modal-btn" id="about-modal-close" type="button">
      <svg class="about-modal-close" width="16" height="16">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <h3 class="about-modal-title">How it’s made?</h3>
    <iframe
      class="about-modal-video"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/hO-7cz7gyAY"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="about-modal-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
