<section class="products" id="products">
    <div class="container">
        <p class="products__uppertitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item item__ice-cream">
                <div class="products__block products__ice-cream">
                    <img srcset="
            ./images/products/sm/sm-@1x.png 201w,
            ./images/products/sm/sm-@2x.png 402w,
            ./images/products/md/md-@1x.png 200w,
            ./images/products/md/md-@2x.png 400w,
            ./images/products/lg/lg-@1x.png 303w,
            ./images/products/lg/lg-@2x.png 606w"
                        sizes=" (min-width: 1200px) 303px, (min-width: 768px) 200px, (min-width: 480px) 201px, 100vw"
                        src="./images/products/sm/sm-@1x.png" alt="Ice cream" class="products__img img__ice-cream">
                    <h4 class="products__name">ice cream</h4>
                    <p class="products__text">
                        Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                    </p>
                    <button class="products__btn" type="button" id="product-modal-1-open">
                        <svg class="products__icon" width="40" height="20">
                            <use href="./images/icons/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item item__coffee">
                <div class="products__block products__coffee">
                    <img srcset="
            ./images/products/sm/sm2-@1x.png 201w,
            ./images/products/sm/sm2-@2x.png 402w,
            ./images/products/md/md2-@1x.png 200w,
            ./images/products/md/md2-@2x.png 400w,
            ./images/products/lg/lg2-@1x.png 303w,
            ./images/products/lg/lg2-@2x.png 606w"
                        sizes=" (min-width: 1200px) 303px, (min-width: 768px) 200px, (min-width: 480px) 201px, 100vw"
                        src="./images/products/sm/sm2-@1x.png" alt="Ice cream" class="products__img img__coffee">
                    <h4 class="products__name">ice coffee</h4>
                    <p class="products__text">
                        Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives and flavor enhancers
                    </p>
                    <button class="products__btn" type="button" id="product-modal-2-open">
                        <svg class="products__icon" width="40" height="20">
                            <use href="./images/icons/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item item__milkshakes">
                <div class="products__block products__milkshakes">
                    <img srcset="
            ./images/products/sm/sm3-@1x.png 201w,
            ./images/products/sm/sm3-@2x.png 402w,
            ./images/products/md/md3-@1x.png 200w,
            ./images/products/md/md3-@2x.png 400w,
            ./images/products/lg/lg3-@1x.png 303w,
            ./images/products/lg/lg3-@2x.png 606w"
                        sizes=" (min-width: 1200px) 303px, (min-width: 768px) 200px, (min-width: 480px) 201px, 100vw"
                        src="./images/products/sm/sm3-@1x.png" alt="Ice cream" class="products__img img__milkshakes">
                    <h4 class="products__name">milkshakes</h4>
                    <p class="products__text">
                        Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
                        sweets of your choice
                    </p>
                    <button class="products__btn" type="button" id="product-modal-3-open">
                        <svg class="products__icon" width="40" height="20">
                            <use href="./images/icons/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>