<!--Reviews-->

<section class="slick">
  <div class="container">
    <ul class="slick-js">
      <li>
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/first-1.jpg 1x,
              ./images/reviews/first-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/first-1.jpg 1x,
              ./images/reviews/first-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/first-1.jpg 1x,
              ./images/reviews/first-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="reviewer-photo"
            src="./images/reviews/first-1.jpg"
            alt="emily-girl"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <h3 class="slick-top-title">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </h3>
        <p class="reviewer-info">Emily, Los Angeles</p>
      </li>

      <li>
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/second-1.jpg 1x,
              ./images/reviews/second-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/second-1.jpg 1x,
              ./images/reviews/second-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/second-1.jpg 1x,
              ./images/reviews/second-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="reviewer-photo"
            src="./images/reviews/second-1.jpg"
            alt="bryan-boy"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <h3 class="slick-top-title">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </h3>
        <p class="reviewer-info">Bryan, New-York</p>
      </li>

      <li>
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/third-1.jpg 1x,
              ./images/reviews/third-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/third-1.jpg 1x,
              ./images/reviews/third-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/third-1.jpg 1x,
              ./images/reviews/third-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="reviewer-photo"
            src="./images/reviews/third-1.jpg"
            alt="dyana-girl"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <h3 class="slick-top-title">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </h3>
        <p class="reviewer-info">Diana, Chicago</p>
      </li>

      <li>
        <picture>
          <!-- Desktop screen -->

          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/reviews/fourth-1.jpg 1x,
              ./images/reviews/fourth-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/reviews/fourth-1.jpg 1x,
              ./images/reviews/fourth-2.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/reviews/fourth-1.jpg 1x,
              ./images/reviews/fourth-2.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="reviewer-photo"
            src="./images/reviews/fourth-1.jpg"
            alt="sam-boy"
            width="85"
            height="85"
            loading="lazy"
          />
        </picture>

        <h3 class="slick-top-title">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </h3>
        <p class="reviewer-info">Sam, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
