// Загальний клас для кнопки з бордером
.btn-border {
    cursor: pointer;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.25;
    color: $primary-text-color;
    border: 2px solid $accent-color;
    border-radius: $btn-border-radius-mob;
    min-width: 62px;
    min-height: 24px;
    transition: color $transition;
    background-color: transparent;

    &:hover {
        border: 2px solid $btn-focus-color;
    }

    &:focus {
        color: $primary-light-color;
        border: 2px solid $btn-focus-color;
    }

    &--disabled {
        border: 2px solid $btn-disabled-color;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.29;
        min-width: 134px;
        min-height: 42px;
    }
}

// Загальний клас для кнопки з бекграундом
.btn-background {
    cursor: pointer;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    color: $primary-text-color;
    background-color: $btn-main-color;
    font-size: 14px;
    line-height: 1.29;
    min-width: 134px;
    min-height: 42px;
    border-radius: $btn-border-radius-desktop;
    transition: color $transition, background-color $transition;

    &:hover {
        background-color: $btn-hover-color;
    }

    &:focus {
        color: $primary-light-color;
        background-color: $btn-hover-color;
    }

    &--disabled {
        background-color: $btn-disabled-color;
    }
}