.about-section {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
  background-color: $section-background-color;
}

.about-uppertitle {
  color: $primary-light-color;
}

.about-title {
  display: inline-block;
  color: $primary-light-color;
}

.about-thumb {
  padding-top: 21px;
  margin: 0 auto 61px;

  width: 278px;
  height: 278px;

  background-color: $accent-color;
  border-radius: 140.182px;
}

.about-info {
  margin-bottom: 42px;
}

.about-list {
  margin-bottom: 20px;
}

.about-item {
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.about-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  color: $primary-light-color;
}

.about-btn {
  margin: 0 auto;
  display: flex;
  gap: 5px;

  align-items: center;
  justify-content: center;
  padding: 12px 34px;

  font-weight: 600;
  line-height: 1.29;
}

.about-icon {
  fill: none;
  stroke: currentColor;
}

.about-stats-item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.about-stats-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;

  width: 50px;
  height: 50px;

  background-color: $accent-color;
  fill: currentColor;
  border-radius: 25px;
}

.about-stats-title {
  margin-bottom: 18px;

  font-family: $third-font;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-light-color;
}

.about-stats-text {
  margin: 0 auto;

  width: 230px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  text-align: center;

  color: $primary-light-color;
}

.about-backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: inline-block;
}

.about-modal {
  padding: 28px;

  width: 280px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  text-align: center;
  background: $primary-light-color;
  border: 2px solid $btn-main-color;
  border-radius: 10px;
}

.about-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.about-modal-title {
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.about-modal-video {
  display: block;
  border-radius: 10px;
}

.about-modal-text {
  margin-top: 20px;

  font-weight: 400;
  line-height: 1.4;
  text-align: start;
  color: $primary-text-color;
}
