.about-section {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
  background-color: $section-background-color;
}

.about-uppertitle {
  color: $primary-light-color;
}

.about-title {
  display: inline-block;
  color: $primary-light-color;
}

.about-thumb {
  padding-top: 21px;
  margin: 0 auto 61px;

  width: 278px;
  height: 278px;

  background-color: $accent-color;
  border-radius: 140.182px;
}

.about-info {
  margin-bottom: 42px;
}

.about-list {
  margin-bottom: 20px;
}

.about-item {
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.about-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  color: $primary-light-color;
}

.about-btn {
  margin: 0 auto;
  display: flex;
  gap: 5px;

  align-items: center;
  justify-content: center;
  padding: 12px 34px;
}

.about-icon {
  fill: none;
  stroke: currentColor;
}

.about-stats-item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }

  &:hover .about-stats-icon-bg {
    transform: scale(1.5) rotate(360deg);
    background-color: $btn-hover-color;
  }
}

.about-stats-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;

  width: 50px;
  height: 50px;

  transition: transform $transition, background-color $transition;
  background-color: $accent-color;
  fill: currentColor;
  border-radius: 25px;
}

.about-stats-title {
  margin-bottom: 18px;

  font-family: $third-font;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-light-color;
}

.about-stats-text {
  margin: 0 auto;

  width: 230px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  text-align: center;

  color: $primary-light-color;
}
