.slick {
  margin-top: 452px;
  outline: 1px solid tomato;
}

.slick-title {
  text-align: center;
  color: green;
}

.slick-list {
  padding: 0;
  margin: 0;
}

.slick-top-title {
  width: 280px;
  min-height: 256px;
  margin-left: auto;
  margin-right: auto;
display: block;
  background-color: #84a178;
  border-radius: 10px;
  font-size: 12px;
  font-family: $main-font;
  font-weight: 400;
  line-height: 2.55;
  text-align: center;
 padding: 34px 39px  ;
  color: $primary-light-color;
  text-align: center;
  margin-top: 32px;
}

.reviewer-photo {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
}


.reviewer-info {
  margin-top: 30px;
font-family: $main-font;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: $primary-text-color;
}

.slick-item {
  width: 968px;
  min-height: 361px;
  margin-left: auto;
  
}

.slick-dots li.slick-active button:before {
 color:$icons-color;
 font-size: 12px;
}

.slick-track {
    background-color: tomato;
    
}

.slick-js .slick-initialized .slick-slider .slick-dotted {
min-height: 485px;
}