.header__container{
    padding-top: 12px;
}

.buy-btn{
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 34px;
    padding-right: 34px;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.buy-btn__icon{
    margin-left: 7px;
    line-height: 1.21;
}