.mobile-menu {

    &__btn{
        
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        height: 32px;
        width: 32px;

        background-color: transparent;
        
        @media screen and (min-width: $tablet){
            margin-right: 32px;
        }
        
        @media screen and (min-width: $desktop) {
            display: none;
        }  
    }

}

.menu-container {
    position: relative;

        padding-top: 100px;
        padding-bottom: 63px;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $section-background-color;
        z-index: 100;
        transform: translateX(100%);
        transition: 250ms;


        display: flex;
        flex-direction: column;
        align-items: center;

    @media screen and (min-width: $tablet) {        
        padding-top: 140px;
        padding-bottom: 63px;
    }
    &__logo{
        position: absolute;
        top: 16px;
        left: 31px;
    }

    .menu{
    
        &__close-tbn {
            position: absolute;
            top: 16px;
            right: 20px;
            fill: $white-background-color;
            cursor: pointer;

            background: none;
            width: 32px;
            height: 32px;

            :hover,
            :focus{
                fill: $accent-color;
            }
        }

            &__nav{
                display: flex;
                flex-direction: column;
                align-items: center;

                gap: 32px;

                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 32px;
                line-height: 1.22;
                color: $primary-light-color ;

                margin-bottom: auto;

                :hover,
                :focus{
                    color: $primary-text-color;
                }

                @media screen and (min-width: $tablet) {
                    font-size: 48px;
                    line-height: 1.23;
                    gap: 40px;
                }
            }
    }
    .buy-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 152px;  
            
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &.is-open {
        position: fixed;
        transform: translateX(0%);
        transition: 250ms;
    }

}